


  .search{
  border: none;
    }

    .regioninput{
      border: none;
      background-color: rgba(84, 156, 160, 0.376) ;
      color: white;
      
    }
    .regioninput::placeholder{

      color: white;
    }

    .box{

      display: flex;
    }
    .btnmic{

      border: none;
      background-color:rgba(84, 156, 160, 0.376) ;
      color: white;
    }